.main {
	margin: 20px;
}

.main,
.input {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-around;
	background-color: #76768042;
	width: 80%;
	height: 36px;
	border-radius: 10px;
	--search-bg-color: #76768042000;
}
.input,
.input:focus {
	background-color: var(--search-bg-color);
	display: flex;
	border: none;
	border-radius: 0;
	outline: none;
	height: 29.63px;
}

.icon {
	color: #767680;
}
